/*
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.bannerText {
  flex: 1;
  padding-right: 20px;
}

.carousel-container {
  overflow: hidden;
  width: 400px;
  max-width: 800px; 
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 1s ease-in-out;
}
*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1502334602177-86280565c425?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80');
  background-size: cover;
}

.centered-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Adding a semi-transparent white background for readability */
  padding: 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

.bannerText {
  padding-bottom: 20px;
}

.carousel-container {
  overflow: hidden;
  width: 400px;
  max-width: 800px; /* Adjust this to your desired carousel width */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .banner {
    flex-direction: row;
    align-items: flex-start;
  }

  .bannerText {
    width: 50%;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .carousel-container {
    width: 400px;
  }
}
