.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1502334602177-86280565c425?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80');
  background-size: cover;
}

.centered-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Adding a semi-transparent white background for readability */
  padding: 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

.bannerText {
  padding-bottom: 20px;
}

