project:
  type: website
  output-dir: docs
  resources:
    - "ads.txt"
    - .nojekyll

website:
  favicon: images/favicon.ico
  title: "Outdoorsy Indians | Outdoor Guides, Destinations & Things to Do"
  site-url: https://outdoorsyindians.com
  description: "At Outdoorsy Indians, we are passionate about helping you embark on exhilarating outdoor adventures in or outside India."
  back-to-top-navigation: true
  navbar:
    background: primary
    foreground: light
    title: "Outdoorsy Indians"
    logo: images/web-logo-no-bg.png
    logo-alt: "Outdoorsy Indians website logo."
    right:
      - text: "About"
        file: about/index.qmd
      - text: "Network"
        file: network/index.qmd
      - text: "Posts"
        menu:
          - posts.qmd
          - camping.qmd
          - things-to-do.qmd
      - icon: rss
        menu: 
          - text: "General Articles"
            file: posts.xml
            target: _blank
          - text: "Camping Destinations"
            file: camping.xml
            target: _blank
          - text: "Things To Do"
            file: things-to-do.xml
            target: _blank
    left: 
      - icon: instagram
        href: https://www.instagram.com/outdoorsyindians/
      - icon: youtube
        href: https://www.youtube.com/@OutdoorsyIndians
      - icon: pinterest
        href: https://www.pinterest.com/outdoorsyindians/
      - icon: reddit
        href: https://www.reddit.com/r/OutdoorsyIndians/
  page-footer: 
    center: |
      <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""></a></p>  
    left: |
      Follow us at:  
      [Instagram](https://www.instagram.com/outdoorsyindians/)  
      [Reddit](https://www.reddit.com/r/OutdoorsyIndians/)  
      [Pinterest](https://www.pinterest.com/outdoorsyindians/)  
      [YouTube](https://www.youtube.com/@OutdoorsyIndians)  
    right: |
      Contact us at contact@outdoorsyindians.com   
      [About](/about/index.qmd)  
      [Network](/network/index.qmd)  
      [General Articles](/posts.qmd)  
      [Camping Destinations](/camping.qmd)  
      [Things To Do](/things-to-do.qmd)  
      [Privacy Policy](/privacy/index.qmd)  
    border: true
    background: primary
    foreground: light
  cookie-consent:
    type: implied 
    style: simple
    palette: dark
  google-analytics:
    tracking-id: "G-R0WDS2TW5N"
    anonymize-ip: true
  twitter-card: true
  open-graph: true
 
format:
  html:
    theme: materia
    fontsize: 1.2em
    link-external-icon: true
    link-external-newwindow: true
    include-in-header: 
      - text: |
          <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=651f6abdc9bda500128cb0eb&product=sticky-share-buttons&source=platform" async="async"></script>
    include-after-body: 
      - text: |
          <div class="sharethis-sticky-share-buttons"></div>
editor: source





